.body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0C67A0;
  }
  
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: radial-gradient(circle at 48.7% 44.3%, rgb(30, 144, 231) 0%, rgb(56, 113, 209) 22.9%, rgb(38, 76, 140) 76.7%, rgb(31, 63, 116) 100.2%);
  }
  
  .form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(102, 149, 241, 0.1);
    width: 300px;
  }
  
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form h2 {
    margin-bottom: 20px;
  }
  
  .form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form button {
    padding: 10px;
    background-color:#1871ee;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form a {
    color: #007bff;
    text-decoration: none;
    margin-bottom: 10px;
    text-align: right;
  }
  
  .form p {
    text-align: center;
  }
  h2{
    text-align: center;
  }